/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("../fondo/entorno-cocina.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

button {
    background-color: #1c9cb3; /* Color azul */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 180px;
}

table, th, td {
    border: 1px solid #dee2e6; /* Color de borde gris */
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #1c9cb3; /* Color verde */
    color: white;
    font-weight: bold;
    text-transform: upper6+case; /* Texto en mayúsculas */
}

tr:nth-child(even) {
    background-color: #f8f9fa; /* Color gris claro para filas pares */
}

tr:nth-child(odd) {
    background-color: #e9ecef; /* Gris un poco más oscuro para filas impares */
}

tr:hover {
    background-color: #e9ecef; /* Color gris claro al pasar el mouse */
}

a {
    text-decoration: none;
    color: #1c9cb3; /* Color azul para enlaces */
    transition: color 0.3s ease; /* Transición suave */
}

a:hover {
    color: #00b3aa; /* Azul más oscuro al pasar el mouse */
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 50%;
    margin-left: 390px;
    opacity: 0.95;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* Negrita para las etiquetas */
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Transición suave */
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border-color: #1c9cb3; /* Color de borde al enfocar */
    outline: none; /* Quitar el contorno predeterminado */
}